In [86]:
# import modules
import glob
import pandas as pd
import geopandas as gpd
import numpy as np

In [87]:
ttimes = gpd.read_file('results/travel_times_min.shp')
ykr_pop = pd.read_csv('results/ykr_pop_join.csv')

# print column names
print('ttimes cols: ', ttimes.columns)
print('pop cols: ', ykr_pop.columns)

ttimes cols:  Index(['x', 'y', 'YKR_ID', 'pt_r_t_0', 'pt_r_t_1', 'pt_r_t_2', 'pt_r_t_3',
       'pt_r_t_4', 'pt_r_t_5', 'min_t', 'min_idx', 'geometry'],
      dtype='object')
pop cols:  Index(['YKR_ID', 'ASUKKAITA'], dtype='object')

In [88]:
# join population info (from points) to grid cells
ttimes_pop = pd.merge(ttimes, ykr_pop, how='inner', on='YKR_ID')
ttimes_pop.head(2)

,x,y,YKR_ID,pt_r_t_0,pt_r_t_1,pt_r_t_2,pt_r_t_3,pt_r_t_4,pt_r_t_5,min_t,min_idx,geometry,ASUKKAITA
0,382125.0,6697630.0,5787548,138.0,115.0,147.0,115.0,111.0,130.0,111.0,pt_r_t_4,"POLYGON ((382250.0001387566 6697500.000128225,...",10
1,380875.0,6697130.0,5791356,86.0,64.0,91.0,65.0,60.0,79.0,60.0,pt_r_t_4,"POLYGON ((381000.0001390452 6697000.000128352,...",13

In [89]:
print('pop cells:', len(ykr_pop))
print('pop cells:', len(ykr_pop.YKR_ID.unique()))
print('ttimes:', len(ttimes))
print('ttimes & pop:', len(ttimes_pop))
print('ttimes & pop:', len(ttimes_pop.YKR_ID.unique()))

pop cells: 5797
pop cells: 5797
ttimes: 13020
ttimes & pop: 5789
ttimes & pop: 5789