In [138]:
# import modules
import glob
import pandas as pd
import geopandas as gpd
import numpy as np

seats = pd.read_csv('data/paikkamaarat.csv', sep=';')

# drop na rows by column Paikat
seats = seats.dropna(subset=['Paikat'])
seats['Paikat'] = [int(value) for value in seats['Paikat']]

# check data
seats.head(2)

,Paikkakunta,Teatterinimi,Salit,Omistaja,Paikat,Osoite,Mahdollinen lisähuomautus
0,Akaa,TOIJALAN KINO,Toijalan Kino,TMB Cinema Oy,196,"Pätsiniementie 9, 37800 Akaa",NaN
1,Alajärvi,ALAREKSI,Alareksi,Alareksi Ky,100,"Sairaalatie 3 C, 62900 Alajärvi",NaN

In [139]:
# filter only YKR cities from data

def isYkrCity(x):
    city = str(x['Paikkakunta'])
    if (city == 'Helsinki' or city == 'Espoo' or city == 'Vantaa' or city == 'Kauniainen' ):
        return True
    return False

seats = seats[seats.apply(lambda x: isYkrCity(x), axis=1)]

In [140]:
grouped = seats.groupby(['Teatterinimi'])

names = []
cities = []
addresses = []
seats = []
rooms = []
for idx, values in grouped:
    names.append(idx)
    seats.append(values['Paikat'].sum())
    rooms.append(len(values))
    cities.append(values.iloc[0]['Paikkakunta'])
    addresses.append(values.iloc[0]['Osoite'])

theaters = pd.DataFrame(data={'name': names, 'rooms': rooms, 'seats': seats, 'city': cities, 'address': addresses })  
theaters.head(2)

           name  rooms  seats      city                         address
0  Andorra Kino      1    180  Helsinki  Eerikinkatu 11, 00100 Helsinki
1     BIO GRAND      1    184    Vantaa        Kielotie 7, 01300 Vantaa

In [141]:
print('count:', len(theaters))
print(theaters)

count: 23
                      name  rooms  seats        city  \
0             Andorra Kino      1    180    Helsinki
1                BIO GRAND      1    184      Vantaa
2                BIO GRANI      1    137  Kauniainen
3   Espoon Kulttuurikeskus      1    300       Espoo
4                 FLAMINGO      6    951      Vantaa
5                KANNUSALI      1    245       Espoo
6           KESÄKINO ENGEL      1     65    Helsinki
7               KINO ENGEL      2    170    Helsinki
8              KINO HELIOS      1    120    Helsinki
9                KINO K-13      1    150    Helsinki
10              KINO MYYRI      1    188      Vantaa
11            KINO TAPIOLA      1    194       Espoo
12              KINO TULIO      1     57    Helsinki
13             KINOPALATSI     10   1511    Helsinki
14   KORJAAMO KINO BIO REX      1    554    Helsinki
15     KORJAAMO KINO TÖÖLÖ      1    254    Helsinki
16                   MAXIM      2    236    Helsinki
17                   OMENA      7    845       Espoo
18                   ORION      1    216    Helsinki
19                 RIVIERA      1     55    Helsinki
20                   SELLO      6    817       Espoo
21           TENNISPALATSI     14   2696    Helsinki
22      WHS Teatteri Union      1     85    Helsinki

                                   address
0           Eerikinkatu 11, 00100 Helsinki
1                 Kielotie 7, 01300 Vantaa
2            Teinikuja 4, 02700 Kauniainen
3            Kulttuuriaukio 2, 02100 Espoo
4                  Tasetie 8, 01510 Vantaa
5           Kannusillankatu 4, 02770 Espoo
6             Sofiankatu 4, 00101 Helsinki
7             Sofiankatu 4, 00101 Helsinki
8        Ala-Malmin tori 1, 00700 Helsinki
9            Kanavakatu 12, 00160 Helsinki
10          Kilterinraitti 6, 01600 Vantaa
11               Mäntyviita 2, 02110 Espoo
12  Sörnäisten rantatie 25, 00500 Helsinki
13       Kaisaniemenkatu 2, 00100 Helsinki
14   Mannerheimintie 22-24, 00100 Helsinki
15          Töölönkatu 51a, 00250 Helsinki
16            Kluuvikatu 1, 00100 Helsinki
17            Piispansilta 11, 02230 Espoo
18          Eerikinkatu 15, 00100 Helsinki
19             Harjukatu 2, 00500 Helsinki
20                Ratsukatu 3, 02600 Espoo
21          Salomonkatu 15, 00100 Helsinki
22     Siltavuorenranta 18, 00170 Helsinki

In [142]:
# GEOCODE THEATERS

from geopandas.tools import geocode
from fiona.crs import from_epsg

In [143]:
# format address
theaters['address'] = [addr + ', Finland' for addr in theaters['address']]

In [144]:
# geocode
geo = geocode(theaters['address'], provider = 'nominatim', user_agent = 'autogis_student_xx')

In [145]:
geodf = gpd.GeoDataFrame(geo, geometry='geometry', crs=from_epsg(4326))
geodf = geo.to_crs(epsg=3879)

In [146]:
# Join the tables
geodata = geodf.merge(theaters, right_index=True, left_index=True)

In [149]:
geodata.head(30)

,geometry,address_x,name,rooms,seats,city,address_y
0,POINT (25496343.95713461 6672677.287973223),"Corona, 11, Eerikinkatu, Kamppi, Eteläinen suu...",Andorra Kino,1,180,Helsinki,"Eerikinkatu 11, 00100 Helsinki, Finland"
1,POINT (25502001.59021829 6686406.18471841),"Tapiola Tikkurila, 7, Kielotie, Kukkaketo, Tik...",BIO GRAND,1,184,Vantaa,"Kielotie 7, 01300 Vantaa, Finland"
2,POINT (25484783.49443586 6677973.430695228),"Teinikuja, Kauniainen, Helsingin seutukunta, U...",BIO GRANI,1,137,Kauniainen,"Teinikuja 4, 02700 Kauniainen, Finland"
3,POINT (25489151.98650477 6673905.793945115),"Espoon kulttuurikeskus, 2, Kulttuuriaukio, Tap...",Espoon Kulttuurikeskus,1,300,Espoo,"Kulttuuriaukio 2, 02100 Espoo, Finland"
4,POINT (25498298.05350502 6686415.079723075),"Sir Eino, 8, Tasetie, Pakkala, Aviapoliksen su...",FLAMINGO,6,951,Vantaa,"Tasetie 8, 01510 Vantaa, Finland"
5,POINT (25480769.62800482 6677081.991225453),"Kannusali, 4, Kannusillankatu, Espoo, Vanha-Es...",KANNUSALI,1,245,Espoo,"Kannusillankatu 4, 02770 Espoo, Finland"
6,POINT (25497336.11438885 6672838.976578102),"Kino Engel, 4, Sofiankatu, Kaartinkaupunki, Et...",KESÄKINO ENGEL,1,65,Helsinki,"Sofiankatu 4, 00101 Helsinki, Finland"
7,POINT (25497336.11438885 6672838.976578102),"Kino Engel, 4, Sofiankatu, Kaartinkaupunki, Et...",KINO ENGEL,2,170,Helsinki,"Sofiankatu 4, 00101 Helsinki, Finland"
8,POINT (25500820.65239691 6681955.983265953),"Malmin kirjasto, 1, Ala-Malmin tori, Ala-Malmi...",KINO HELIOS,1,120,Helsinki,"Ala-Malmin tori 1, 00700 Helsinki, Finland"
9,POINT (25498127.60724797 6672500.564863603),"Suomen elokuvasäätiö, 12, Kanavakatu, Katajano...",KINO K-13,1,150,Helsinki,"Kanavakatu 12, 00160 Helsinki, Finland"
10,POINT (25491924.49840635 6682821.29770932),"Kilterinkaari, Kilterinmäki, Myyrmäki, Myyrmäe...",KINO MYYRI,1,188,Vantaa,"Kilterinraitti 6, 01600 Vantaa, Finland"
11,POINT (25489511.51387499 6674041.594106413),"2, Mäntyviita, Tapiola, Suur-Tapiola, Espoo, H...",KINO TAPIOLA,1,194,Espoo,"Mäntyviita 2, 02110 Espoo, Finland"
12,POINT (25498124.56838511 6674699.268981569),"KAVI, 25, Sörnäisten rantatie, Hanasaari, Sörn...",KINO TULIO,1,57,Helsinki,"Sörnäisten rantatie 25, 00500 Helsinki, Finland"
13,POINT (25497017.04189459 6673140.466732641),"Kinopalatsi, 2, Kaisaniemenkatu, Keskusta, Klu...",KINOPALATSI,10,1511,Helsinki,"Kaisaniemenkatu 2, 00100 Helsinki, Finland"
14,POINT (25496469.68522724 6673087.317623931),"Amos Rex, 22-24, Mannerheimintie, Keskusta, Kl...",KORJAAMO KINO BIO REX,1,554,Helsinki,"Mannerheimintie 22-24, 00100 Helsinki, Finland"
15,POINT (25495574.84751659 6674567.962997415),"Sushibar + Wine, 51a, Töölönkatu, Taka-Töölö, ...",KORJAAMO KINO TÖÖLÖ,1,254,Helsinki,"Töölönkatu 51a, 00250 Helsinki, Finland"
16,POINT (25497098.19720279 6672793.432351892),"Atelier Torbjörn Tillander, 1, Kluuvikatu, Kaa...",MAXIM,2,236,Helsinki,"Kluuvikatu 1, 00100 Helsinki, Finland"
17,POINT (25485470.33883667 6672071.306847659),"Iso Omena, 11, Piispansilta, Espoo, Helsingin ...",OMENA,7,845,Espoo,"Piispansilta 11, 02230 Espoo, Finland"
18,POINT (25496267.87463335 6672617.501236277),"ORION, 15, Eerikinkatu, Kamppi, Eteläinen suur...",ORION,1,216,Helsinki,"Eerikinkatu 15, 00100 Helsinki, Finland"
19,POINT (25497646.04724088 6674986.629412342),"Riviera (Movie theatre, restaurant & bar), 2, ...",RIVIERA,1,55,Helsinki,"Harjukatu 2, 00500 Helsinki, Finland"
20,POINT (25489374.97953638 6678411.433078299),"Finnkino, 3, Ratsukatu, Etelä-Leppävaara, Lepp...",SELLO,6,817,Espoo,"Ratsukatu 3, 02600 Espoo, Finland"
21,POINT (25496152.29105011 6672953.225614866),"Tennispalatsi, 15, Salomonkatu, Kamppi, Eteläi...",TENNISPALATSI,14,2696,Helsinki,"Salomonkatu 15, 00100 Helsinki, Finland"
22,POINT (25497290.39726844 6673650.703577834),"WHS Teatteri Union, 18, Siltavuorenranta, Kruu...",WHS Teatteri Union,1,85,Helsinki,"Siltavuorenranta 18, 00170 Helsinki, Finland"

In [150]:
# export to SHP
geodata.to_file('data/theaters.shp')